html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
}

h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 1.125em;
}

.inputs {
	border: 1px solid black;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 1em;
	width: fit-content;
}

.inputs label {
	margin-bottom: 1em;
}

.inputs button {
	cursor: pointer;
	width: fit-content;
}
