html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 1em;
}

body {
	align-items: center;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
}

h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 1.125em;
}

select {
	text-transform: capitalize;
}

.inputs {
	border: 1px solid black;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	margin-bottom: 2em;
	padding: 1em;
	width: fit-content;
}

.inputs label {
	margin-bottom: 1em;
}

button {
	cursor: pointer;
	width: fit-content;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
	margin-bottom: 2em;
}

.grid .scenario {
	border: 1px solid black;
	border-radius: 4px;
	padding: 1em;
	position: relative;
}

.grid .scenario .delete-btn {
	position: absolute;
	left: 1em;
	top: 1em;
}

.grid .scenario .container {
	display: flex;
	gap: 1em;
	position: relative;
}

.grid .scenario .container .zoom-controls {
	bottom: 0;
	position: absolute;
	right: 0;
}

.grid .scenario .container button {
	height: 2em;
	width: 2em;
}

.time-control {
	display: none;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	width: fit-content;
}

.time-control > *:not(:last-child) {
	margin-bottom: 0.5em;
}
