<!DOCTYPE html>
<html lang="en">
<head>
	<title>Duke Coupled Hydrology Model</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Tapestry -->
	<script src="{{ url_for('static', filename='js/tapestry/jquery-1.12.4.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tapestry/tools.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tapestry/sylvester.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tapestry/math.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tapestry/arcball.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tapestry/tapestry.js') }}"></script>

	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
	<script src="https://kit.fontawesome.com/dd8456309d.js" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='js/render.js') }}"></script>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"></link>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"></link>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
</head>

<body>
	<h1>Duke Coupled Hydrology Model</h1>

	<form class="inputs">
		<h2>New Scenario</h2>

		<label>
			Basin
			<select id="basin"></select>
		</label>

		<label>
			Scenario
			<select id="scenario"></select>
		</label>

		<label>
			Variable
			<select id="variable"></select>
		</label>

		<button id="add-scenario" type="button" onclick="window.addScenario()">
			Add
			<i class="fa-solid fa-plus"></i>
		</button>
	</form>

	<div class="grid">
		<p class="placeholder">Add a new scenario to get started.</p>
	</div>

	<div class="time-control">
		<div><label>
			<input class="link" type="checkbox" checked></input>
			Link time with other scenarios
		</label></div>

		<div>
			<label>
				Date

				<button type="button" onclick="window.subtractDay(event, true)">
					<i class="fa-solid fa-arrow-left"></i>
				</button>

				<input class="date" type="date" min="2016-11-02" max="2019-12-31" value="2016-11-02" onchange="window.render(event)" />

				<button type="button" onclick="window.addDay(event, true)">
					<i class="fa-solid fa-arrow-right"></i>
				</button>
			</label>
		</div>

		<div>
			<label>
				Hour

				<button type="button" onclick="window.subtractHour(event, true)">
					<i class="fa-solid fa-arrow-left"></i>
				</button>

				<input class="hour" type="number" min="0" max="23" value="0" onchange="window.render(event)" />

				<button type="button" onclick="window.addHour(event, true)">
					<i class="fa-solid fa-arrow-right"></i>
				</button>
			</label>
		</div>
	</div>
</body>
</html>
