<!DOCTYPE html>
<html lang="en">
<head>
	<title>Duke Hydrology Coupled Model</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
	<script src="https://kit.fontawesome.com/dd8456309d.js" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='js/render.js') }}"></script>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"></link>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"></link>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
</head>

<body>
	<h1>Duke Hydrology Coupled Model</h1>

	<form class="inputs">
		<h2>New Scenario</h2>

		<label>
			Basin
			<select id="basin"></select>
		</label>

		<label>
			Scenario
			<select id="scenario"></select>
		</label>

		<label>
			Variable
			<select id="variable"></select>
		</label>

		<button id="add-scenario" type="button" onclick="window.addScenario()">
			<i class="fa-solid fa-plus"></i>
		</button>
	</form>

	<div class="grid">
		<p class="placeholder">Add a new scenario to get started.</p>
	</div>

	<div class="time-control">
		<h2>Time Selection</h2>

		<div>
			<label>
				Date

				<button type="button" onclick="window.subtractDay(true)">
					<i class="fa-solid fa-arrow-left"></i>
				</button>

				<input id="date" type="date" min="2016-11-02" max="2019-12-31" value="2016-11-02" onchange="window.render()" />

				<button type="button" onclick="window.addDay(true)">
					<i class="fa-solid fa-arrow-right"></i>
				</button>
			</label>
		</div>

		<div>
			<label>
				Hour

				<button type="button" onclick="window.subtractHour(true)">
					<i class="fa-solid fa-arrow-left"></i>
				</button>

				<input id="hour" type="number" min="0" max="23" value="0" onchange="window.render()" />

				<button type="button" onclick="window.addHour(true)">
					<i class="fa-solid fa-arrow-right"></i>
				</button>
			</label>
		</div>
	</div>
</body>
</html>
