<!DOCTYPE html>
<html lang="en">
<head>
	<title>Duke Hydrology Coupled Model</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="{{ url_for('static', filename='js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='js/render.js') }}"></script>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans"></link>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}"></link>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
</head>

<body>
	<h1>Duke Hydrology Coupled Model</h1>

	<form class="inputs">
		<h2>New Scenario</h2>

		<label>
			Scenario
			<select id="scenario"></select>
		</label>

		<label>
			Basin
			<select id="basin"></select>
		</label>

		<label>
			Variable
			<select id="variable"></select>
		</label>

		<button id="add-scenario" type="button" onclick="addScenario()">Add</button>
	</form>

	<div class="grid">
		<p class="placeholder">Add a new scenario to get started.</p>
	</div>

	<div class="time-control">
		<h2>Time Selection</h2>

		<button type="button">arrow-left</button>

		<label>
			Date
			<input id="date" type="date" min="2016-08-01" max="2019-12-31" value="2016-08-01" onchange="render()" />
		</label>

		<label>
			Hour
			<input id="hour" type="number" min="0" max="23" value="0" onchange="render()" />
		</label>

		<button type="button">arrow-right</button>
	</div>
</body>
</html>
